body { padding-bottom: 70px; 
	background-image:url("./Assets/background.png");
	font-family: 'Arial';
	color: #777;
	font-size:18px;
	}

header{
	background-color:white;
	height:100px;
	margin:5px;
	font-family: 'Georgia';
}
h2{
	font-size:18px;
	font-weight:bold;
	color:#4aaaa5;
}
.panel-default{
	float:left;
}
.navbar-default{
	background-color:gray;
}

.navbar{
	color:white;
	text-align:center;
}
.github{
	width:50px;
	height:50px;

}
.linkedin{
	width:50px;
	height:50px;

}
.overflow{
	width:50px;
	height:50px;

}
.media-object{
	width:250px;
	height:250px;
	margin-top:5px;
	clear:left;

}

.paragraph{
	margin:0px;
	clear:left;

}
.image{
	width:20px;
	height:20px;
}

.box{
	width:700px;
	height:625px;
	margin:60px;
	background-color:white;
	border: 1px solid #ddd;
	clear:left;

}
.box1{
	width:270px;
	height:150px;
	margin:60px;
	background-color:white;
	border: 1px solid #ddd;
	float:right;
}

}
aside{
	float:right;
	padding:60px;
	clear:left;
}
section{
	float:left;

}