body { padding-bottom: 70px; 
	background-image:url("./Assets/background.png");
	font-family: 'Arial';
	color: #777;
	}

header{
	background-color:white;
	height:80px;
	margin:5px;
	font-size:18px;
	font-family: 'Georgia';
}

h2{
	font-size:18px;
	font-weight:bold;
}
.navbar-default{
	background-color:gray;
}

.navbar{
	color:white;
	text-align:center;
}
.github{
	width:50px;
	height:50px;

}
.linkedin{
	width:50px;
	height:50px;

}
.overflow{
	width:50px;
	height:50px;

}

.box{
	width:700px;
	height:625px;
	margin:60px;
	background-color:white;
	border: 1px solid #ddd;
	color:#4aaaa5;
	clear:left;

}
.box1{
	width:270px;
	height:150px;
	margin:60px;
	background-color:white;
	border: 1px solid #ddd;
	color:#4aaaa5;
	float:right;
}

